body {
    margin: 0;
    font: 11pt sans-serif;
    background: #fef9e7;
}

header ul {
    padding: 0;
    margin: 0;
    width: max-content;
}

header li {
    list-style-type: none;
}

header {
    background: white;
    height: min-content;
    margin: 0 auto;
    display: flex;
}

a, a:visited {
    color: black;
    display: block;
    text-decoration: none;
}

details:hover {
    cursor: pointer;
}

p {
    text-indent: 30pt;
}

.red_button {
    cursor: pointer;
    border: 2px solid red;
    padding: 5pt 20pt;
    background: white;
    color: red
}

.red_button:hover {
    background: red;
    color: white;
}

.header_menu {
    margin: 0 auto;
    display: flex;
}

header a {
    color: black;
    padding: 10pt;
    font-weight: bold;
}

header a:hover {
    cursor: pointer;
    background: lightgrey;
}

.header_menu li {
    text-align: center;
}

.login_ul {
    display: flex;
    position: absolute;
    right: 0;
}

.li_text {
    padding: 10pt;
}

.flashes {
    margin: 0;
    list-style-type: none;
    position: absolute;
    right: 20pt;
    top: 50pt;
    background: lightgreen;
}

.flashes li {
    padding: 10pt;
    border-bottom: 2px solid green;
}

.bg {
    border-right: 2px solid black;
}

h2 {
    margin: 0;
    background: green;
    padding: 10pt;
    font-size: 11pt;
}

.login {
    line-height: 30pt;
}

.login form {

}

.login input {

}

#content {
    margin: 0 auto;
    display: flex;
    height: min-content;
    width: fit-content;
}

h1 {
    margin: 0;
    padding: 5pt;
    text-align: center;
    border-bottom: 1px solid black;
    background: white;
}

h3 {
    margin: 10pt 0;
    text-align: center;
}

.form_div {
    margin: 5pt;
    padding: 5pt;
    height: min-content;
    background: white;
}

.form_div form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input, select {
    margin-bottom: 5pt;
    padding: 5pt;
}

details {
    padding: 10pt;
    border-bottom: 1px solid black;
}

.table_div {
    margin: 5pt;
    border: 2px solid white;
    height: min-content;
}

.table_div table {
    border-collapse: collapse;
    width: 100%;
}

.table_div th {
    padding: 10pt;
}

.table_div td {
    text-align: center;
    padding: 10pt;
}

.table_div tr:nth-child(odd) {
    background: white;
}

.table_div tr:hover {
    background: grey;
}

.navigation_div {
    background: white;
}

.navigation_div ul {
    margin: 0;
}

.navigation_div li {
    list-style-type: none;
    display: table;
    padding: 5pt;
}

.navigation_div a:hover {
    color: grey;
}

.text_div {
    background: white;
    padding: 15pt;
}

.object_info {
    padding: 10pt;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
}

.info_table {
    border: 2px solid white;
}

.info_table td, caption {
    padding: 5pt 10pt;
}

.info_table caption {
    background: white;
}

.fa_main {
    background: white;
    width: 600px;
    margin: 5pt auto;
    border: 1px solid black;
    padding: 20px;
}

.fa_main a {
    margin: 10px;
    width: fit-content;
}